html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#ic-show-img-box-wrap img {
  margin-top: -35px;
}
#ic-show-img-box-wrap{
  background:black!important;
}
#ic-show-img-info{
  bottom:50px!important;
  white-space: pre;
  font-size:1.4em;
  line-height: 2;
  padding:10px 0 140px 0;
}
.wrap{
  padding-top:10px;
  height:100%;
  min-height:100%;
  overflow-y: scroll;
}
input{
  line-height: 1.6;
  font-size:1.2em;
  margin-left:5px;
}
#box li{
  margin:0 0 10px 40px;
}
