/*html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}*/

#ic-viewer-box-wrap img {
  margin-top: -35px;

}

#ic-viewer-box-wrap {
  background: black !important;
}

#ic-viewer-info {
  bottom: 10px !important;
  white-space: pre;
  font-size: 1.4em;
  line-height: 2;
  padding: 10px 0 40px 0;
  background: rgba(0, 0, 0, 0.2) !important;
}

#ic-viewer-info, #ic-viewer-handle {
  text-align: right !important;
  padding-right: 20%!important;
}

#ic-viewer-handle {
  padding-right: 30%!important;
}

.wrap {
  padding-top: 10px;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}


#crop {
  label {
    padding-right: 1em;
  }

  /*  input {
      line-height: 1.4;
      font-size: 1.2em;
      margin-left: 5px;
    }*/

  .input {
    width: 5em;
    margin-left: 5px;
  }
}

#list li {
  margin: 0 0 10px 40px;

  &.is-end {
    padding-bottom: 9px;
    border-bottom: 0px #b5b3b3 dotted;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0);
  }
}


.ic-select {
  margin: -10px 0 15px 0;

  > .tags {
    display: inline-block;
    margin-bottom: 0;
  }
}
