/*html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}*/

#ic-viewer-box-wrap img {
  margin-top: -35px;
}

#ic-viewer-box-wrap {
  background: black !important;
}

#ic-viewer-info {
  bottom: 10px !important;
  white-space: pre;
  font-size: 1.4em;
  line-height: 2;
  padding: 10px 0 40px 0;
  background: rgba(0, 0, 0, 0.2) !important;
}

.wrap {
  padding-top: 10px;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}


#crop {
  label {
    padding-right: 1em;
  }

  /*  input {
      line-height: 1.4;
      font-size: 1.2em;
      margin-left: 5px;
    }*/

  .input {
    width: 5em;
    margin-left: 5px;
  }
}

#list li {
  margin: 0 0 10px 40px;
}

#viewerAttach {
  display: none;
  position: fixed;
  z-index: 1001;
  color: #fff;
  top: 95px;
  left: 0;
  width: 100%;
  pointer-events: none;
  text-align: center;

  > p {
    white-space: pre;
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 0 1em;
  }

  > div {
    position: fixed;
    width: 100%;
    bottom: 10%;
    padding-right:10%;
    text-align:right;

    a {
      color: greenyellow;
      pointer-events: auto;
      padding: 5px 15px;
      background: rgba(0, 0, 0, 0.7);
      border: solid 1px greenyellow;
    }
  }

}



[ic-popup="markTag"] {
  background: rgba(0, 0, 0, 0.8) !important;
  overflow-y: hidden !important;
}

.ic-select {
  margin: -10px 0 15px 0;

  > .tags {
    display: inline-block;
    margin-bottom:0;
  }
}
