@import "../../css/basic/0.7/basic.base.css";

[ic-viewer-popup] {
  z-index: 3000 !important;
}


#ic-viewer-info {
  bottom: 0!important;
  font-size: 1.4em;
  line-height: 1.6;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.6) !important;
}

#ic-viewer-info, #ic-viewer-handle {
  text-align: right !important;
  padding-right: 2%!important;
}

#ic-viewer-handle {
  padding-right: 23%!important;
  padding-left:20px;
}

.tags[ic-viewer] {
  flex-wrap: nowrap;
  overflow: hidden;
}

.table_1 {
  > dd.is-table {
    padding: 0;
    border-bottom: none;
  }
}

.table_1.is-td {
  margin: 0;
  border-top: none;

  dt, dd {
    border-left: none;
  }

  dd {
    border-right: none;
  }
}

.table_1.a {
  > dt {
    color: #fff;
    background: #446ca1;
    padding-right: 1em;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;

    > dd {
      padding: 0;
      border: none;
    }
  }

}

.table_1.in-td {

}

