html {
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #333;
  background: repeat 50% 50% rgba(255, 255, 255, 1);
  background-size: contain;
  font: 16px/2 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

/*.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}*/

[ic-view] {
  //background: white!important;
  overflow: hidden;

  .box {
    .title, p {
      padding-left: 3px;
    }
  }

  > div {
    height: 100%;
    overflow-y: scroll;
    padding: 20px 20px;
  }

}

#promptBox {
  overflow: hidden;
  background: black!important;

  .box {
    background: black;

    .title {
      font-size: 34px;
      //animation: warn 0.9s infinite ease-in;
      animation: revolveScale 1.8s infinite;
    }

    p * {
      font-size: 24px !important;
    }

    .buttons {
      position: absolute;
      left: 80%;
      bottom: 30px;
    }

  }
}


//----------------------------------------------------
.box, .title {
  color: inherit;
}

a {
  color: yellowgreen; // #3273dc
  &:hover {
    color: #fff;
  }
}

.title {
  color: white;
  background: black;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;

}

[ic-ctrl="mistakeCtrl"] {
  li {
    // padding: 10px 12px 13px 1px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: inherit !important;
  }
}


#fixedButtons {
  opacity: 0.1;

  &:hover {
    opacity: 1;
  }

}

#todoList {
  &.shirk {
    .text {
      height: 12em;
      overflow-y: hidden;
    }
  }
}


.text {
  &.toggle {
    height: auto !important;
    min-height: 4em;
  }
}

.table td, .table th {
  padding: 0.5em 0.3em;
}
