html {
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #333;
  background: repeat 50% 50% rgba(255, 255, 255, 1);
  background-size: contain;
  font: 16px/2 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

[ic-view] {
  background: rgba(255, 255, 255, 1) !important;

  > div {
    height: 100%;
    overflow-y: scroll;
    padding: 20px 20px;
  }

}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

//----------------------------------------------------
.box, .title {
  color: inherit;
}

a {
  color: yellowgreen; // #3273dc
  &:hover {
    color: #fff;
  }
}

[ic-ctrl="mistakeCtrl"] {
  li {
    // padding: 10px 12px 13px 1px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: inherit !important;
  }
}


#fixedButtons {
  opacity: 0.1;

  &:hover {
    opacity: 1;
  }

}


.text {
  height: 14em;
  overflow-y: hidden;

  &.toggle {
    height: auto;
    min-height: 32em;
  }
}
