@import "../../css/basic/0.7/basic.base.css";

html, body {
  // 飞利浦屏幕34寸
  @media screen and (min-width: 3600px) {
    font-size: 18px !important;
  }
  // macBook 屏幕
  @media screen and (max-width: 1440px) {
    font-size: 18px !important;
  }
}

body, html {
  font-size: 18px !important;
}


#systemList {

  ul.gridStyle {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 24%;
      margin-right: 0.75%;
    }
  }


  header {
    .tag {
      font-size: 0.95rem;
    }
  }
}


#setSystem {
  .tag {
    font-size: 1rem;
  }
}


.box {
  padding: 1.8rem;
  margin: 1.6rem 0;
}


.table_4 {
  .tr {
    padding: 14px 10px;
    border-bottom: solid 1px #e7e7ea;

    .td:first-child {
      min-width: 7em;
      text-align: right;
      padding-right: 2em;
    }

    &:last-child {
      border: none;
    }
  }
}


[ic-viewer-popup] {
  z-index: 3000 !important;
}

.tags[ic-viewer] {
  flex-wrap: nowrap;
  overflow: hidden;
}

#ic-viewer-info {
  bottom: 0 !important;
  font-size: 1.2em;
  line-height: 1.2;
  padding: 2px 0;
  background: rgba(0, 0, 0, 0.6) !important;
}

#ic-viewer-info, #ic-viewer-handle {
  text-align: right !important;
  padding-right: 2% !important;
}

#ic-viewer-handle {
  padding-left: 20px;
}


/*.table_1 {
  > dd.is-table {
    padding: 0;
    border-bottom: none;
  }
}

.table_1.is-td {
  margin: 0;
  border-top: none;

  dt, dd {
    border-left: none;
  }

  dd {
    border-right: none;
  }
}

.table_1.a {
  > dt {
    color: #fff;
    background: #446ca1;
    padding-right: 1em;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;

    > dd {
      padding: 0;
      border: none;
    }
  }

}

.table_1.in-td {

}*/
