@import "../logic/style.scss";

strong {
  font-weight: bold;
}

.notification div.pre {
  color: #000;
  /*  font-weight: 400;
    font-size: 18px;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;*/
  font-size: 18px;
  line-height: 1.8;
  font-weight: 500;
  overflow: visible;
  text-overflow: ellipsis;

  &.scroll {
    max-height: 72em;
    overflow-y: scroll;
  }
}
