#readerBox {
  font-size: 1.1em;
  white-space: pre-wrap;

  i {
    font-style: normal;
  }

  .reader-readable-node-mark {
    display: none !important;
  }
}

[ic-ctrl=uploadTextFileCtrl] {
  .tag {
    cursor: pointer;
  }
}
