{
  "presets": ["@babel/preset-env"],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "comments": false,
  "env": {
    "main": {
      "presets": [
        ["@babel/preset-env", {
        }]
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/preset-env", {
        }]
      ]
    }
  }
}
