#系统创建文件
Thumbs.db
.DS_Store

#IDE创建
.idea/
.settings/
.project

#外部类库
bower_components/
node_modules/

#私有配置文件
config.json
scripts.js
applescript/
/data/
tdx.txt

!.gitkeep

.rbenv-version
.rvmrc

.tmp_*~

out
npm-debug.log
