#系统创建文件
Thumbs.db
.DS_Store

#IDE创建
.idea/
.settings/
.project

#临时文件
!.gitkeep
.rbenv-version
.rvmrc
.tmp_*~
*.log


#外部类库
bower_components/
node_modules/

#
dist/
data/csd/
data/upload/
temp/
!.user/temp

#私有配置文件
config.json
wt.json
.user/trading.json
*.mp3
*.m4a

#临时文件
ls.js

# 标记win分支的占位符文件
win_pla.txt
