.tag:not(body).is-default {
  color: #fff;
  background: #c7c8d3;
}

.tag.is-medium{
  font-size:14px!important;
}

[ic-click] {
  cursor: pointer;
}

[ic-viewer-popup]{
  z-index:3000!important;
}

.table th {
  vertical-align: middle;
}

.table td {
  .tags {
    margin-bottom: 0;
  }

  > div {
    padding: 0.5rem 1rem 0.4rem 1rem;

    &.nest {
      padding: 0;
    }
  }

  padding: 0;

  .table {
    border: none;

    &.is-bordered {
      tr:first-child {
        th, td {
          border-top: none;
        }
      }

      tr:last-child {
        th, td {
          border-bottom: none;
        }
      }

      th {
        border-left: 0;
      }

      td:last-child {
        border-right: none;
      }
    }
  }
}
