.table {
  border: solid 1px #dbdbdb;

  tr {
    &:nth-child(odd) {
      background: #fbf7ce;
    }

    &:nth-child(even) {
      background: #ecf5e2;
    }
  }

  td {
    padding: 15px 20px;
    border: solid 1px #dbdbdb;
    vertical-align: middle;

    &:first-child {
      padding: 15px 30px;
      white-space: nowrap;

      a {
        color: #345bda;
      }
    }

  }
}
