body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  border:solid 1px blue;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.warn {
  animation: warn 0.5s 2 ease-in-out;
}

@keyframes warn {
  1% {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  100% {
    background: rgba(255, 255, 0, 1);
    color: #000;
  }
}

#msg {
  padding: 4px 10px 4px 80px;
  color: blue;
  background: rgba(255, 255, 255, 1);
  font-size: 18px;
}
