html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  border: solid 1px blue;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}


#cox {
  height: 10000px;
}

#warn {
  position: fixed;
  top: 0;
  left: 20%;
  right: 30%;
  padding: 0 16px;
  height: 1em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  border: solid 0px greenyellow;
  color: greenyellow;
  font-size: 20px;
  white-space: pre;
  transition: all .9ms ease-in-out;

  &.active {
    z-index: 4;
    top: 7%;
    left: 47%;
    width:100%;
    height: 100%;
    font-size:4em;
  }
}

#news {
  position: fixed;
  top: 0;
  left: 16%;
  right: 17%;
  padding: 2px 16px;
  max-height: 1.8em;
  overflow: hidden;
  font-size: 20px;
  color: yellow;
  background: rgba(0, 0, 0, 1);
  border: solid 1px blue;

  &.active {
    top: 1135px;
    left: 24%;
    right: 21%;
    max-height: 3.6em;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border: solid 1px greenyellow;
  }
}


.blink {
  animation: blink 0.5s 48 ease-in-out;
}
.blink2 {
  animation: blink2 0.7s 68 ease-in-out;
}

@keyframes blink {
  1% {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  100% {
    background: rgba(255, 0, 0, 0.9);
    color: #000;
  }
}

@keyframes blink2 {
  1% {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
  }
  100% {
    background: rgba(255, 255, 0, 0.9);
    color: #000;
  }
}
