html, body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
  //border: solid 2px blue;
}


#container {
  //height: 10000px;
}

#warn {
  position: fixed;
  top: 0;
  left: 20%;
  right: 30%;
  padding: 0 16px;
  height: 1em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
  border: solid 0px greenyellow;
  color: greenyellow;
  font-size: 18px;
  white-space: pre;
  transition: all .9ms ease-in-out;

  &.active {
    z-index: 4;
    top: 7%;
    left: 47%;
    width: 100%;
    height: 100%;
    font-size: 4em;
  }
}

#news {
  position: fixed;
  top: -12px;
  left: 15%;
  right: 15%;
  padding: 3px 18px;
  max-height: 30px;
  overflow: hidden;
  font-size: 18px;
  /*  color: deepskyblue;
    background: rgba(0, 0, 0, 0.8);*/
  color: #fff;
  background: rgba(0, 0, 255, 0.7);
  //border: solid 1px blue;

  &.active {
    top: 24%;
    bottom: 68%;
    left: 20%;
    right: 20%;
    max-height: 62%;
    display: grid;
    place-items: center;
    //align-items: center; /* 垂直居中 */
    //justify-items: start; /* 水平左对齐 */
    color: #fff;
    background: rgba(0, 0, 255, 0.9);
    //border: solid 1px greenyellow;
  }

  p {
    width: 100%;
    margin: 0;
    padding: 0;

    &:first-child {
      font-size: 22px;
    }
  }

}


.blink {
  animation: blink 0.5s 30 ease-in-out;
}

.blink2 {
  animation: blink2 0.5s 10 linear;
}

@keyframes blink {
  1% {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 3.6em;
  }
  100% {
    background: rgba(255, 0, 0, 0.7);
    color: #000;
    font-size: 4.4em;
  }
}

@keyframes blink2 {
  1% {
    background: rgba(255, 255, 0, 0.85);
    color: #000;
  }
  100% {
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
  }
}


.blink3 {
  animation-name: blinker-color;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blinker-color {
  0%, 100% {
    color: red; /* 开始和结束时文本为红色 */
  }
  50% {
    color: transparent; /* 中间时刻文本颜色透明 */
  }
}
