::selection {
  background: rgba(255, 255, 125, 0.99);
  color: #032764;
}

html, body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 18px;
  overflow: auto;
}

input {
  font-size: 20px;
  display: inline-block;
  //margin: 7px 0;
  padding: 3px 5px;
}

.nav-group-item .icon{
  float:none;
}

[ic-popup]{
  top: 30px !important;
}

div[ic-ctrl="rtsCtrl"] button {
  margin-right: 20px;
}

#rtsCtrl {
  margin: 10px 10px;
  padding: 15px 10px;
  background: #f7f6f6;

  section {
    padding: 20px 20px;
    border-bottom: solid 1px #ccc;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: flex;
      align-items: center;
    }
  }

  ul li span {
    display: inline-block;
    min-width: 4em;
    padding: 0 3px;
    flex: 1;
  }

  .up {
    color: red !important;
  }

  .down {
    color: green !important;
  }
}

.btn .icon {
  margin-right: 4px;
}
.none{
  display: none;
}

////////////////////////////////////////////////////////////////////////////
.toolbar{
  background-image: linear-gradient(to bottom, #d1cfd1 0%,  #e8e6e8 100%);
}
.toolbar-actions {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #757474 !important;

  .btn-group {
    padding: 0 0.6rem;
    text-align: center;
    white-space: nowrap;
    border-left:solid 1px #bbbaba;
    &:first-child {
      border-left:none;
    }

    &:last-child {

    }

    * {
      color: inherit !important;
    }

    a {
      display: inline-block;
      padding: 0 0.7em;
      cursor: pointer;
      border-radius:0.2em;
      &:hover{
        background:rgba(0,0,0,0.1)
      }
      .icon{
        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////
#memo_box {
  position: relative;
  padding: 10px 20px;
}

#memo_plc, #memo {
  width: 100%;
  min-height: 10em;
  padding: 1em 1em 2em 1em;
  border: none;
  white-space: pre-wrap;
}

#memo {
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  padding-bottom: 0;
  z-index: 3;
}

////////////////////////////////////////////////////
#viewsWrapper, #indexView {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#viewsWrapper {
  display: flex;
  flex-flow: column;
  overflow: hidden;

  #tabs {

    > ul {
      display: flex;
      align-items: center;

      li {
        background: rgb(220, 220, 220);
        padding: 0.2rem;

        &.active {
          background: #fff;
          color: blue;
        }

        .icon {
          cursor: pointer;

          &:hover {
            color: blue;
          }
        }
      }
    }
  }

  #views {
    flex: 1;
  }
}
