::selection {
  background:rgba(255, 255, 125, 0.99);
  color:#032764;}

html,body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size:18px;
  overflow: auto;
}

input{
  font-size: 20px;
  display: inline-block;
  margin:5px;
  padding: 3px 5px;
}

div[ic-ctrl="rtsCtrl"] button {
  margin-right: 20px;
}

section, footer {
  padding: 20px 20px;
  border-bottom: solid 1px #ccc;
}
ul{
  list-style: none;
  margin:0;
  padding:0;
}
ul li span{
  display:inline-block;
  min-width:4em;
  padding:0 3px;
  flex:1;
}
.up{
  color:red!important;
}
.down{
  color:green!important;
}
