html, body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.8;
}

.pre {
  white-space: pre-wrap;;
}

.warning {
  animation: ani 0.5s infinite ease-in-out;
}

.warn {
  animation: ani 0.5s 3 ease-in-out;
}

.rout {
  opacity: 0.5;
  background: greenyellow;
}

@keyframes ani {
  10% {
    background: rgba(255, 255, 0, 0);
  }
  /*25%  {background: rgba(255,255,0,0.25);}
  50%  {background: rgba(255,255,0,0.5);}*/
  100% {
    background: rgba(255, 255, 0, 1);
  }
}

#rts_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.4em;

  .up {
    color: red !important;
  }

  .down {
    color: green !important;
  }

  li div {
    margin: 0;
    padding: 0 0;
  }

  button {
    display: inline-block;
    flex: 1;
  }

}

#rts_list li {
  padding: 5px 10px;
}

#rts_list li span {
  border: solid 0 blue;
}

#rts_list span.name, #rts_list span.b1 {
  width: 9em;
  color: red;
  flex: 1;
  white-space: nowrap;

  & > b {
    display: inline-block;
    width: 5em;
  }
}

#rts_list span.b1 {
  width: 8em;
  & > b {
    width: 4em;
    font-weight: normal;
  }
}

#rts_list span.b1_reduce {
  width: 4em;
}

#rts_list span.code, #rts_list span.time, #rts_list span.increase, #rts_list span.price {
  font-size: 0.6em;
  color: #ccc;
  padding: 0 5px;
}

#rts_list span.increase, #rts_list span.price {
  font-size: 0.8em;
  color: #333;
  padding: 0 10px;
  width: 4em;
}

#rts_list span.time {
}

#notify_news {
  padding: 0.2rem 0.7rem;
}

.box {
  margin: 10px 0 0 0;
  padding: 0.3rem 0.5rem;
}

section {
  margin: 0 0 10px 0;
}
