html, body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  background: #000;
  overflow-y: hidden;
}

.pre {
  white-space: pre-wrap;;
}

.warning {
  animation: ani 0.5s infinite ease-in-out;
}

.warn {
  animation: ani 0.9s 5 ease-in-out;
}

.rout {
  //opacity: 0.5;
  //background: #fff;
  color: greenyellow;
}

@keyframes ani {
  10% {
    background: rgba(255, 255, 0, 0);
  }
  /*25%  {background: rgba(255,255,0,0.25);}
  50%  {background: rgba(255,255,0,0.5);}*/
  100% {
    background: rgba(255, 255, 0, 1);
  }
}

table#rts_list {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  background: transparent;

  tr {
    color: red;

    &.rout {
      color: greenyellow;
    }

    td {
      padding:0.2em 0.2em 0.2em 0;
      white-space: nowrap;
      vertical-align: middle;
      color: inherit;
      border-bottom: solid 1px #7a7a7a;
      //border-right:solid 1px #7a7a7a;

      &.up {
        color: red !important;
      }

      &.down {
        color: greenyellow !important;
      }

      &.time {
        font-size:0.6em;
        color:#fff;
      }
      &.cancel{
        font-size:0.8em;
      }
    }
  }

}

ul#rts_list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;

  .up {
    color: red !important;
  }

  .down {
    color: greenyellow !important;
  }

  li {
    padding: 5px 1px;
    border-bottom: solid 1px #7a7a7a;
    color: red;

    &.rout {
      color: greenyellow;
    }

    div {
      margin: 0;
      padding: 0 0;
    }

    button {
      display: inline-block;
      //flex: 1;
    }
  }

}

/*
#rts_list span.name, #rts_list span.b1 {
  width: 10em;
  color: inherit;
  flex: 1;
  white-space: nowrap;

  & > b {
    display: inline-block;
    width: 4em;
  }
}

#rts_list span.b1 {
  width: 9em;

  & > b {
    width: 5em;
    font-weight: normal;
  }
}

#rts_list span.b1_reduce {
  width: 4em;
  text-align: center;
}

#rts_list span.code, #rts_list span.time, #rts_list span.increase, #rts_list span.price {
  font-size: 0.6em;
  color: #fff;
  padding: 0 5px;
}

#rts_list span.increase, #rts_list span.price {
  font-size: 0.8em;
  color: #fff;
  padding: 0 10px;
  width: 4em;
}

#rts_list span.time {
}
*/
#notify_news {
  padding: 0.2rem 0.7rem;
}

.box {
  margin: 10px 0 0 0;
  padding: 0.3rem 0.5rem;
}

section {
  margin: 0 0 10px 0;
}

#notify_news {
  color: #fff;
}

body {
  font-size: 24px !important;
}

@media screen and (max-device-width: 768px) {
  body {
    border: solid 0px red;
    font-size: 28px !important;
  }
}
