.none {
  display: none !important;
}


.pre {
  white-space: pre-wrap;
  overflow-x: hidden;
}

.tar {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.full-screen{
  width:100%;
  height:100%;
}

.disable-select{
  -webkit-user-select: none;
  user-select: none;
}


.onDragOver{
  background:blue;
  color:#fff;
}
