/*
 * 公用组件样式定义
=========================================================
 */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
}

#viewerAttach {
  display: none;
  position: fixed;
  z-index: 9001;
  color: #fff;
  top: 180px;
  left: 0;
  width: 100%;
  pointer-events: none;
  text-align: center;

  > p {
    white-space: pre;
    background: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 0 1em 0 1em;
    margin: 0 0 0 16em;
  }

  > div {
    opacity: 0.1;
    position: fixed;
    width: 100%;
    bottom: 10%;
    padding-right: 4%;
    text-align: right;
    font-size:1.4em;

    &:hover {
      opacity: 1;
    }

    a {
      color: greenyellow;
      pointer-events: auto;
      padding: 5px 15px;
      background: rgba(0, 0, 0, 0.7);
      border: solid 1px greenyellow;
    }
  }

}

#ic-viewer-handle {
  padding-left: 840px !important;
}

#ic-viewer-info {
  padding-left: 840px !important;
}


[ic-popup="viewerMarkTag"] {
  background: rgba(0, 0, 0, 0.8) !important;
  overflow-y: auto !important;
  z-index: 4000 !important;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    background-color: transparent;
  }

}

.scroll {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
    border-radius: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }
}

