/*
字体样式定义
=========================================================
 */



/*
t    为前缀；
-18  字体大小
-0   字体样式   0 ： normal； 1： bold;
-r1 字体颜色   r: red; b: blue; y: yellow; g: green; w: white; k: black; a: gray;
*/
.t-12-0-a0,
.t-12-0-a1,
.t-12-1-a2 {
    font-size: 12px;
}

.t-12-0-a0 {
    color: #aab2bd;
}

.t-12-0-a1,
.t-14-0-a1, .t-14-1-a1,
{
    color: #898a8b;
}

.t-12-1-a2, .t-14-1-a2 {
    color: #656d78;
}

.t-14-1-a2, .t-14-1-b0, .t-14-1-a3,
.t-14-1-up, .t-14-1-md, .t-14-1-down,
.t-14-0-k1, .t-14-1-k1,
.t-14-0-a1, .t-14-1-a1,
.t-14-0-y1, .t-14-1-y1,
.t-14-0-r1, .t-14-1-r1, .t-14-0-up, .t-14-1-up {
    font-size: 14px;
}

.t-14-0-y1, .t-14-1-y1
.t-24-0-y1, .t-24-1-y1 {
    color: #ff9915;
}

.t-14-1-md,
.t-16-0-a3, .t-16-1-a3 {
    color: #aab2bd;
}

.t-14-0-down,.t-14-1-down,
.t-16-0-down, .t-16-1-down,
.t-18-0-down, .t-18-1-down {
    color: #37bc9b;
}

.t-14-0-k1, .t-14-1-k1,
.t-16-0-k1, .t-16-1-k1,
.t-18-0-k1, .t-18-1-k1,
.t-24-0-k1, .t-24-1-k1 {
    color: #434a54;
}

.t-14-1-b0 {
    color: #5d9cec;
}

.t-14-1-a3 {
    color: #434a54;
}

.t-14-0-b1, .t-14-1-b1,
{
    font-size: 14px;
    color: #4a89dc;
}
.t-16-0-b6, .t-16-1-b6{
    color:#3c6eb1;
}
.t-18-0-b4,.t-18-1-b4{
    color: #4b88db;
}
.t-14-0-r1, .t-14-1-r1, .t-14-0-up, .t-14-1-up,
.t-16-0-up, .t-16-1-up,
.t-16-0-r1, .t-16-1-r1,
.t-18-0-r1, .t-18-1-r1,
.t-18-0-up, .t-18-1-up {
    color: #da4453;
}

.t-24-0-a1, .t-24-1-a1 {
    color: #8e959e;
}
.t-24-0-w, .t-24-1-w{
    color:#fff;
}
.t-16-0-b4, .t-16-1-b4
{
    color: #494d80;
}
.fy-1,
.t-12-1-a2, .t-14-1-a2, .t-14-1-a3,
.t-14-1-g1, .t-14-1-b0,
.t-14-1-r1, .t-14-1-b1, .t-14-1-g1, .t-14-1-a1, .t-14-1-up, .t-14-1-md, .t-14-1-down, .t-14-1-k1, .t-18-1-a1,
.t-14-1-y1,
.t-16-1-b1,
.t-16-1-a3,
.t-16-1-k1,
.t-16-1-r1,
.t-16-1-b4,
.t-16-1-b6,
.t-16-1-up, .t-16-1-down,
.t-18-1-up, .t-18-1-down,
.t-18-1-r1,
.t-18-1-k1,
.t-18-1-b1,
.t-18-1-b4,
.t-24-1-a1,
.t-24-1-k1,
.t-24-1-y1,
.t-24-1-g1,
.t-24-1-w
{
    font-weight: bold;
}

.t-16-0-up, .t-16-0-down, .t-16-1-up, .t-16-1-down,
.t-16-0-a3, .t-16-1-a3,
.t-16-0-k1, .t-16-1-k1,
.t-16-0-r1, .t-16-1-r1,
.t-16-0-b1, .t-16-1-b1,
.t-16-0-b4, .t-16-1-b4,
.t-16-0-b6, .t-16-1-b6
{
    font-size: 16px;
}

.fc-a1,
.t-18-0-a1, .t-18-1-a1,
.t-18-0-up, .t-18-1-up, .t-18-0-down, .t-18-1-down {
    color: #656d78;
}
.t-18-0-r1, .t-18-1-r1,
.t-18-0-b1, .t-18-1-b1,
.t-18-0-b4, .t-18-1-b4,
.t-18-0-k1, .t-18-1-k1,
.t-18-0-a1, .t-18-1-a1, .t-18-0-up, .t-18-1-up, .t-18-0-down, .t-18-1-down {
    font-size: 18px;
}

.t-24-0-w, .t-24-1-w,
.t-24-0-g1, .t-24-1-g1,
.t-24-0-a1, .t-24-1-a1,
.t-24-0-y1, .t-24-1-y1,
.t-24-0-k1, .t-24-1-k1 {
    font-size: 24px;
}

.t-p2-1-a1{
    font-size:2em;
    color: #444444;
    font-weight: bold;
}


/*定义字体颜色*/
.fc-r1{
    color: #fc6e51;
}
.fc-b1{
    color: #549efd;
}
.fc-a2{
    color: #7d7d7d;
}
.fc-k1{
    color:#B5B5B5;
}
.fc-up{
    color: #fc6e51;
}
.fc-down{
    color: #0eb70a;
}
/*定义字体大小*/

.fz-small {
    font-size: 0.6em;
}

.fz-normal {
    font-size: 1em;
}

.fz-large {
    font-size: 1.4em;
}
.fz-d8{
    font-size:0.8em;
}
.fz-1d2{
    font-size: 1.2em;
}
.fz-1d4{
    font-size: 1.4em;
}
.fz-1d5{
    font-size: 1.5em;
}
.fz-p2{
    font-size:2em;
}
.fz-2d4{
    font-size: 2.4em;
}
.fz-p3{
    font-size:3em;
}
.fz-p4{
    font-size:4em;
}


