html {
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  overflow: hidden;
  color: greenyellow;
  background: repeat 50% 50% rgba(0, 0, 0, 0);
  background-size: contain;
  border: solid 1px yellowgreen;
  font: 28px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif !important;
  -webkit-user-select: none;
  user-select: none;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}


// ---------------------------------------------- brick
#b-plan {
  padding-right: 60px;

  p {
    padding: 0 10px;
  }
}

[ic-view] {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0) !important;

  .box {
    //width: 48%;
    // border: solid 1px yellowgreen;
    margin-top: -16%;
    margin-left: 20%;
    min-width: 50%;
    background: rgba(0, 0, 0, 0);

    .title {
      margin: 3px 0 10px 0 !important;
    }

    .buttons {
      margin-top: 15px;
    }
  }
}

//----------------------------------------------------
.box, .title {
  color: inherit;
}

a {
  color: yellowgreen; // #3273dc
  &:hover {
    color: #fff;
  }
}

[ic-ctrl="mistakeCtrl"] {
  li {
    // padding: 10px 12px 13px 1px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: inherit !important;
  }
}

#place {
  text-shadow: 2px 3px 4px #000000;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-animation-name: shake-slow;
  animation-name: shake-slow;
  -webkit-animation-duration: 39s;
  animation-duration: 39s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes shake-slow {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  2% {
    -webkit-transform: translate(-1px, 3px) rotate(-1.5deg);
  }
  4% {
    -webkit-transform: translate(-4px, 5px) rotate(-1.5deg);
  }
  6% {
    -webkit-transform: translate(-1px, 6px) rotate(-0.5deg);
  }
  8% {
    -webkit-transform: translate(5px, -4px) rotate(-3.5deg);
  }
  10% {
    -webkit-transform: translate(-7px, -3px) rotate(-3.5deg);
  }
  12% {
    -webkit-transform: translate(-1px, 8px) rotate(2.5deg);
  }
  14% {
    -webkit-transform: translate(3px, -5px) rotate(-1.5deg);
  }
  16% {
    -webkit-transform: translate(1px, 0px) rotate(2.5deg);
  }
  18% {
    -webkit-transform: translate(-6px, -10px) rotate(-0.5deg);
  }
  20% {
    -webkit-transform: translate(3px, -2px) rotate(1.5deg);
  }
  22% {
    -webkit-transform: translate(0px, 0px) rotate(-2.5deg);
  }
  24% {
    -webkit-transform: translate(-5px, -4px) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translate(-1px, 3px) rotate(-3.5deg);
  }
  28% {
    -webkit-transform: translate(1px, 1px) rotate(-3.5deg);
  }
  30% {
    -webkit-transform: translate(-4px, 8px) rotate(1.5deg);
  }
  32% {
    -webkit-transform: translate(-9px, 7px) rotate(-3.5deg);
  }
  34% {
    -webkit-transform: translate(4px, -9px) rotate(-2.5deg);
  }
  36% {
    -webkit-transform: translate(1px, -6px) rotate(-2.5deg);
  }
  38% {
    -webkit-transform: translate(-4px, 0px) rotate(-2.5deg);
  }
  40% {
    -webkit-transform: translate(3px, -7px) rotate(0.5deg);
  }
  42% {
    -webkit-transform: translate(4px, 4px) rotate(-0.5deg);
  }
  44% {
    -webkit-transform: translate(8px, -4px) rotate(-2.5deg);
  }
  46% {
    -webkit-transform: translate(9px, 9px) rotate(-3.5deg);
  }
  48% {
    -webkit-transform: translate(6px, -8px) rotate(-0.5deg);
  }
  50% {
    -webkit-transform: translate(-1px, 4px) rotate(-3.5deg);
  }
  52% {
    -webkit-transform: translate(4px, 6px) rotate(-1.5deg);
  }
  54% {
    -webkit-transform: translate(9px, -3px) rotate(2.5deg);
  }
  56% {
    -webkit-transform: translate(8px, -2px) rotate(-3.5deg);
  }
  58% {
    -webkit-transform: translate(-2px, -9px) rotate(-0.5deg);
  }
  60% {
    -webkit-transform: translate(-1px, -5px) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translate(-8px, 3px) rotate(2.5deg);
  }
  64% {
    -webkit-transform: translate(6px, -2px) rotate(-3.5deg);
  }
  66% {
    -webkit-transform: translate(-5px, 9px) rotate(-1.5deg);
  }
  68% {
    -webkit-transform: translate(3px, 1px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translate(6px, 4px) rotate(-1.5deg);
  }
  72% {
    -webkit-transform: translate(-6px, -5px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translate(-8px, 0px) rotate(-0.5deg);
  }
  76% {
    -webkit-transform: translate(-5px, -8px) rotate(1.5deg);
  }
  78% {
    -webkit-transform: translate(5px, -3px) rotate(-1.5deg);
  }
  80% {
    -webkit-transform: translate(-6px, -3px) rotate(-1.5deg);
  }
  82% {
    -webkit-transform: translate(7px, 8px) rotate(-1.5deg);
  }
  84% {
    -webkit-transform: translate(-6px, 9px) rotate(0.5deg);
  }
  86% {
    -webkit-transform: translate(1px, 8px) rotate(-3.5deg);
  }
  88% {
    -webkit-transform: translate(-9px, -2px) rotate(1.5deg);
  }
  90% {
    -webkit-transform: translate(4px, -6px) rotate(-1.5deg);
  }
  92% {
    -webkit-transform: translate(0px, -1px) rotate(0.5deg);
  }
  94% {
    -webkit-transform: translate(2px, -9px) rotate(2.5deg);
  }
  96% {
    -webkit-transform: translate(-9px, 1px) rotate(-2.5deg);
  }
  98% {
    -webkit-transform: translate(-9px, -5px) rotate(-3.5deg);
  }
}




.warn {
  animation: warn 4s 10 ease-in-out;
}

@keyframes warn {
  1% {
    opacity: 0;
  }
  /*  20% {
      opacity: 0.5;
    }
    40% {
      opacity: 0.75;
    }
    60% {
    }*/
  50% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}

.rotateBox {
  transform-style: preserve-3d;
}
.rotate {
  animation: rotate 8s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotateY(360deg);
  }
}
@keyframes beat {
  from {
    transform: none;
  }
  50% {
    transform: scale(1.6);
  }
  to {
    transform: none;
  }
}

.beat {
  animation: beat 1s infinite alternate;
}
