html, body {
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 24px;
    line-height: 1.8;
}
.warning{
    animation: ani 0.5s infinite ease-in-out;
}
.rout{
    opacity: 0.5;
}
@keyframes ani
{
    10%   {background: rgba(255,255,0,0);}
    /*25%  {background: rgba(255,255,0,0.25);}
    50%  {background: rgba(255,255,0,0.5);}*/
    100% {background: rgba(255,255,0,1);}
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}
#rts_list li{
    padding: 5px 10px;
}
#rts_list li span{
    border:solid 0px blue;
}
#rts_list span.b1, #rts_list span.name{
    width:6em;
    color:red;
    flex:1;
}
#rts_list span.b1_reduce{
    width:4em;
}
#rts_list span.code, #rts_list span.time, #rts_list span.increase{
    font-size:0.6em;
    color:#ccc;
    padding:0 5px;
}
#rts_list span.time{
}

.up{
    color:red!important;
}
.down{
    color:green!important;
}
li div{
    margin:0;
    padding: 0 0;
}
button{
    display: inline-block;
    /*width:45%;*/
    /*font-size: 16px;
    line-height: 1.6;*/
    flex:1;
}