html,body {
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  font-size:16px;
  overflow: auto;
  color:#333;
  -webkit-font-smoothing: subpixel-antialiased;
}



.fr-view{
  p{
    margin:0.7em 0;
  }
}