@charset "UTF-8";
/*!
 * scss scaffold basic by Julien.
 * https://github.com/julienedies/basic.git
 * https://github.com/Julienedies/basic/wiki
 */
/*    scss变量定义
==========================================================*/
/*   define mixin
==========================================================*/
/*    define extend
==========================================================*/
.select-none {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  user-select: none; }

.__flex, .flex-middle, .flex-mc, .flex-mj, .flex-mr, .flex-center, .flex-justify, .flex-right, .flex-end, .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.flex-middle, .flex-mc, .flex-mj, .flex-mr {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.flex-center, .flex-mc {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center; }

.flex-justify, .flex-mj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-right, .flex-mr {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end; }

