html,body{
    font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
    line-height: 1.6;
    font-size:12px;
}
body{
    font-family: 'Helvetica Neue',Helvetica,Arial,"Microsoft Yahei",FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
    font-family: "Helvetica Neue","Verdana","Arial","Hiragino Sans GB","WenQuanYi Micro Hei","Heiti SC",STHeiti,"Microsoft Yahei",SimSun,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    overflow-x:hidden;
}
input{
    /*-webkit-appearance: none; 去除浏览器默认样式*/
}

a{
    text-decoration: none;
}

/*
常用属性简写定义
=========================================================
 */

/*
常用属性简写定义规则：
d 属性名display首字母
-
f  属性值flex首字母
example：d-f{display:flex}
*/
.f-a{
    -webkit-flex:auto;
    flex:auto;
}

.ws-n{
    white-space: nowrap;
}

.va-b{
    vertical-align: bottom;
}
.f-l{
    float:left;
}
.f-r{
    float:right;
}
.ta-r{
    text-align: right;
}
.ta-c{
    text-align: center;
}
.p-r{
    position: relative;
}
.p-f{
    position: fixed;
}
.d-f{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.d-ib{
    display: inline-block;
}
.d-n{
    display: none;
}
/*
*/
.clearfix:after{
    content: '';
    display: block;
    clear:both;
    height: 0;
}
/*
*/
.clearfix:after{
    content: '';
    display: block;
    clear:both;
    height: 0;
}

/**/
.line{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}