/*
颜色
*/
$blue3: #2aa3ce;
$b4: #2aa3ce;
$b5: #00acd5;
$blue1: #00acd4;

$gray2: #eeeeee;
$k2: #eeeeee;
$gray3: #dedede;
$gray4: #d4d4d6;

$y5: #ff9900;
$yellow1: #f7ad00;

$k4: #f0f0f0;
$k5: #d7d7d7;
$k5d5: #b2b2b2;
$k6: #818181;
$k7: #656565;
$k8: #333333;

/*
字体大小
*/
$fzBase: 14;

//布局
$view-header-height: 44px;
$page-padding-left: 10px;

$xem:                 0.0625rem;
