html {
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0);
}

body {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  overflow: hidden;
  color: greenyellow;
  background: repeat 50% 50% rgba(0, 0, 0, 0);
  background-size: contain;
  border: solid 1px yellowgreen;
  font: 24px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif!important;
  -webkit-user-select: none;
  user-select: none;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.warn {
  animation: warn 4s 10 ease-in-out;
}

@keyframes warn {
  1% {
    opacity: 0;
  }
  /*  20% {
      opacity: 0.5;
    }
    40% {
      opacity: 0.75;
    }
    60% {
    }*/
  50% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}

// ---------------------------------------------- brick
#b-plan {
  padding-right: 60px;

  p {
    padding: 0 10px;
  }
}

[ic-view] {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  background: rgba(0, 0, 0, 0) !important;

  .box {
    //width: 48%;
    // border: solid 1px yellowgreen;
    margin-top:-10%;
    min-width: 40%;
    background: rgba(0, 0, 0, 0);

    .title {
      margin: 3px 0 10px 0 !important;
    }

    .buttons {
      margin-top: 15px;
    }
  }
}

//----------------------------------------------------
.box, .title {
  color: inherit;
}

a {
  color: yellowgreen; // #3273dc
  &:hover {
    color: #fff;
  }
}

[ic-ctrl="mistakeCtrl"] {
  li {
    // padding: 10px 12px 13px 1px;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0);
    font-size: inherit !important;
  }
}
