html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;

  .h-wrapper {
    flex: 1;
    display: flex;
    border-bottom: solid 1px #ccc;

    > section {
      flex: 1;
      padding: 1rem;
      border-left: solid 1px #ccc;

      &:nth-child(0){
        flex:1 1 30%;
      }
      &:nth-child(1){
        flex: 1 1 30%;
      }
      &:last-child {
        flex: 1 1 40%;
      }

      li {
        padding: 0.3rem;

        .title {
          margin-bottom: 0 !important;
        }
      }
    }
  }

}
