html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;

  .h-wrapper {
    flex: 1;
    display: flex;
    border-bottom: solid 1px #ccc;

    > section {
      flex: 1;
      padding: 0.8rem;
      border-left: solid 1px #ccc;

      li{
        padding:0.3rem;
        .title{
          margin-bottom: 0!important;
        }
      }
    }
  }

}
