html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

#timerBox {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 1px 2px 3px #cfcfcf;
}

.wrapper {
  height: 100vh;
  display: flex;
  padding-top: 42px;

  .h-wrapper {
    flex: 1;
    display: flex;
    border-bottom: solid 1px #ccc;

    > section {
      flex: 1;
      padding: 1rem;
      border-left: solid 1px #ccc;

      &:nth-child(0) {
        flex: 1 1 60%;
      }

      &:last-child {
        flex: 1 1 40%;
      }

      li {
        padding: 0.3rem;

        .title {
          margin-bottom: 0 !important;
        }
      }
    }
  }

}
