#mainHeader {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.2rem 8%;
  background: #fff;
  box-shadow: 1px 1px 4px 2px #d9d7d7;
  opacity: 0.1;
  &:hover{
    opacity: 1;
  }
}

#mainContent{
  padding: 40px 2% 40px 2%;
}

#setRp{
  padding:0 0 24px 0;
}


[ic-ctrl="set_plan_ctrl"], [ic-ctrl="set_tag_ctrl"]{
  padding-top:15px;
  h6{
    font-weight: bold;
  }
}

[ic-ctrl="set_tag_ctrl"]{
  background: rgba(0,0,0,0.8);
}
