html, body {
  font: 20px/1.5;
  line-height: 1.6;
  user-select:none;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h1, h2, h3, dt {
  //text-decoration: underline;
}


section {
  padding: 1.2em 0;
  border-bottom: solid 4px blue;
  &:first-child{
    padding-top:0;
  }
}


div.box {
  padding: 0.1rem;
  font-size:20px;
  font-weight: bold;

  h2, h3, >div, >p{
    padding: 0.2rem 1rem;
  }

  h2, h3 {
    padding: 0.2rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 24px !important;
    color: #000;
    background: yellow;

    b {
      display: inline-block;
      padding-left: 1em;
      font-size: 1em;
      //font-style: italic;
    }
  }

  > div {
    border-top: solid 1px #dedede;
    display: none;
    opacity: 0.95;
    color: #0476d8;
    font-weight: 400;
    //background: blue;
    .tag{
      font-size: 1em;
      font-weight: 700;
    }
  }

  > p {
    color: #333;
    font-weight: 400;
    font-size: 0.8em;
    border-top: solid 1px #e6e6e6;
  }
}

table {
  th, td {
    vertical-align: middle;
  }

  tr:first-child {
    th {
      font-size: 1.2em;
    }
  }

  th {
    font-size: 1em;
  }
}

.table {
  color: #015ed5;
}

.system {
  font-size: 16px !important;
  //color: #242424;
  margin-bottom: 60px !important;

  th {
    font-size: 18px !important;
    color: #036ddd;
  }

  tr:first-child {
    th, td {
      vertical-align: middle;
    }

    th {
      background: yellow;
    }

  }

  .lever1 * {
    color: red !important;
  }

  h1, h2, h3 {
    //font-weight: bold;
    font-size: inherit;
  }

  h6, p {
    font-size: 0.9em;
    color: #848383;
  }

  > tbody > tr > td:first-child {
    //padding:0.2em 0.3em 0.2em 0.5em;
  }

  td {
    vertical-align: middle;
  }

  table {
    border: none;
  }

  .nest-table {
    padding: 0;

    > table > tbody > tr:first-child {
      > th, > td {
        border-top: none;
      }
    }

    > table > tbody > tr {
      > th:first-child, > td:first-child {
        border-left: none;
      }
    }

    > table > tbody > tr {
      > th:last-child, > td:last-child {
        border-right: none;
      }
    }

    > table > tbody > tr:last-child {
      > th, > td {
        border-bottom: none;
      }
    }
  }
}
