/*!
 * Created by j on 2024/9/4.
 */

#replay {

  .table {
    color: #0270ee;
    //background: #ea5454;

    //color:#fff;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;

    th {
      color: #fff;
    }

    th, td {
      padding: 0.4em;

      &:nth-child(2) {
        //text-align: right;
      }
    }

    .subtitle {
      color: inherit;
      font-size: 1em;
    }

    .tag {
      font-size: 1rem;
    }
  }

  tr th:nth-child(2), tr td:nth-child(2) {
    white-space: nowrap;
  }

  .item {
    padding: 0.3rem;
  }
}
