/*!
 * Created by j on 2021/12/4.
 */

html {
  overflow: hidden;
}

#mainHeader {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.4rem;
  margin-left: -1.6rem;
  background: #fff;
  box-shadow: 2px 2px 6px 3px #d9d7d7;
}

#mainFooter {
  z-index: 1000;
  position: fixed;
  //top: 41px;
  bottom: 0;
  width: 100%;
  padding: 0.4rem 0.4rem 0.4rem 30px;
  margin-left: -1.6rem;
  background: #fff;
  box-shadow: 2px -2px 6px 3px #d9d7d7;
  display: none;

  &:hover {
    opacity: 1;
  }
}

#mainContent {
  padding: 60px 0 360px 0;
}

#todoList {
  .tag:not(body).is-medium {
    font-size: 0.9rem;
  }

  .tag:not(body).is-large {
    font-size: 1rem;
  }

  .tag:not(body).is-info {
    background-color: #1f8ef9;
    background-color: #3899f7;
    color: #fff;
  }

  .tags .tag {
    margin-bottom: 0.2rem;
  }

  .comment{
    white-space: nowrap;
    overflow: hidden;
    color: #026bdb;
    //text-decoration: underline;
  }

  .role_0, .role_1, .role_2, .role_3{
    color:#fff;
    white-space: nowrap;
    overflow: hidden;
  }



  .role_0 {
    background: yellow;
    color: #000;

    h3 {
      color: #000;
    }
  }

  .role_1 {
    background: blue;

    h3 {
      color: #fff;
    }
  }

  .role_2 {
    background: rgb(148, 0, 211);

    h3 {
      color: #fff;
    }
  }

  .role_3 {
    background: black;

    h3 {
      color: #fff;
    }
  }


  .box {
    padding: 0.1rem;
    color: #3c3c3c;

    > header, > .wrap {
      padding: 0 1em;
    }

    > header {
      background: yellow;

      &.role_1 {
        background: blue;

        h3 {
          color: #fff;
        }
      }

      &.role_2 {
        background: rgb(148, 0, 211);

       h3 {
          color: #fff;
        }
      }

      &.role_3 {
        background: black;

        h3 {
          color: #fff;
        }
      }

      h2, h3, h5, h6 {
        padding: 0.1rem 0.1rem;
        white-space: nowrap;
        overflow: hidden;
        font-weight: bold;
        font-size: 20px;
        color: #000;

        b {
          display: inline-block;
          padding-left: 1.4em;
          font-size: 0.9em;
          font-weight: 400;
        }
      }

      .caution {
        //background: #fff;
        //font-size: 20px !important;
        font-size: 1.4em;
        font-size: 19px;
        font-weight: 400;
      }

    }

    > .wrap {
      padding: 0.4em 1em 0.25em 1em;
      .textarea {
        border-color: #f7f7f7;
        box-shadow: none;
        font-size: 1.1rem;
        padding: 0.1rem 0 0.15rem 0;
      }
    }
  }

  .pre.text {
    //display: none;
    color: #026bdb;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;

    table {
      td, th {
        border: solid 1px #e3e3e3;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}


