/*!
 * Created by j on 2021/12/4.
 */

html {
  overflow: hidden;
}

.tag:not(body).is-medium {
  font-size: 1rem;
}

.tag:not(body).is-large {
  font-size: 1.1rem;
}

.tags .tag {
  margin-bottom: 0.2rem;
}

.box {
  padding: 0.1rem;

  >h2, >h3, >.wrap{
    padding: 0 1em 0.6em 1em;
  }

  >h2, >h3 {
    padding: 0.1rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 24px !important;
    color: #000;
    background: yellow;

    b {
      display: inline-block;
      padding-left: 1em;
      font-size: 0.8em;
    }
  }

  >.wrap{
    margin-top:0.5rem;
  }
}
