html {
  overflow: hidden;
}

strong {
  font-weight: 600;
}

#mainHeader {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.5rem 9%;
  margin-left: -1.6rem;
  background: #fff;
  box-shadow: 2px 2px 4px 3px #d9d7d7;
}

#mainContent {
  padding: 94px 6% 20px 6%;
}

.title {
  display: inline-block;
  padding: 1px 2px 1px 0;
  font-size: 26px !important;
  background: black;
  color: white !important;

  &.concept {
    background: rgb(148, 0, 211);
  }

  &.system {
    background: blue;
  }
}


#todoList {
  &.shirk {
    .text {
      max-height: 8em;
      overflow-y: hidden;
    }
  }
}

.text {
  min-height: 3em;

  &.toggle {
    max-height: none !important;
    overflow-y: visible !important;
  }
}
