html {
  overflow: hidden;
}

strong {
  font-weight: 600;
}

.title {
  display: inline-block;
  padding: 1px 2px 1px 0;
  font-size: 26px !important;
  background: black;
  color: white !important;

  &.concept {
    background: rgb(148, 0, 211);
  }

  &.system {
    background: blue;
  }
}


#todoList {
  &.shirk {
    .text {
      max-height: 8em;
      overflow-y: hidden;
    }
  }
}

.text {
  min-height: 3em;

  &.toggle {
    max-height: none !important;
    overflow-y: visible !important;
  }
}
