[ic-form="replay"] {
  > div {
    display: flex;
    align-items: flex-start;
    padding: 0.5em 0;

    h6 {
      min-width: 7em;
      padding: 0.5em 1em 0.5em 0.5em;
      text-align: right;
      border: solid 0 blue;
      font-weight: bold;
    }

    > *:last-child {
      flex: 1;
      padding: 0.5em;
      border: solid 0 green;
    }
  }
}
