@import "include/layout";
@import "include/components";

body {
  padding: 10px 15px 15px 15px;
  color: #202020;
  font: 16px/1.8 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif!important;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  &::-webkit-scrollbar {
    //width: 0 !important;
    //display: none;
  }
}

.textarea{
  min-height:1rem;
  overflow-y: visible;
}

.icon > .far {
  opacity: 0.1;
}

.tag.is-medium.is-delete{
  opacity: 0.3;
}

label.radio {
  font-size: 1.2em;
  vertical-align: -0.5em;
}

.none {
  display: none !important;
}

.pre {
  white-space: pre-wrap;
  overflow-x: hidden;
}

.tar {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.full-screen{
  width:100%;
  height:100%;
}

.disable-select{
  -webkit-user-select: none;
  user-select: none;
}


.ani-warn {
  animation: warn 0.9s infinite ease-in-out;
}

@keyframes warn {
  1% {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  100% {
    background: rgba(255, 255, 0, 1);
    color: #000;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// bulma 重写

.notification {
  margin-bottom: 0.8rem!important;
  padding-bottom:0.5rem;
  background: #fff7e5; //#f5edd0; //fff1e5
}

.box{
  padding: 1rem;
}

.title{
  margin-bottom: 1rem!important;
}

.tag, .button{
  -webkit-user-select: none;
  user-select: none;
}

///////////////////
// forala 样式重写
/*
.fr-toolbar{
  .fa-file-pdf-o:before{
    content: "\f1c1"!important;
  }
  .fa-arrows-v:before{
  }
  .fa-smile-o:before{
  }
  .fa-rotate-left:before{
    content: "\f0e2";
  }
  .fa-rotate-right:before{
    content: "\f01e";
  }
  .fa-video-camera:before{
  }
  .fa-file-o:before{
  }
}*/

[class*="hint--"][aria-label]:after{
  white-space: pre;
  line-height: 1.6;
}
