a.no {
  text-decoration: none !important;
}

.notification{
  position: relative;
}

.notification div.pre {
  overflow: visible;
  text-overflow: ellipsis;

  &.scroll {
    max-height: 32em;
    overflow-y: scroll;
  }
}

.tags .input, .buttons .input {
  width: 10em !important;
  max-width: 10em !important;
  height: 2em;
  margin-top: -7px;
}

.table_0 > * > *:first-child{
  flex: 1 1 10%;
}
