

a.no {
  text-decoration: none !important;
}

.notification{
  position: relative;
}

.notification div.pre {
  color: #212529;
/*  font-weight: 400;
  font-size: 18px;
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;*/

  overflow: visible;
  text-overflow: ellipsis;

  &.scroll {
    max-height: 47em;
    overflow-y: scroll;
  }
}

.tags .input, .buttons .input {
  width: 10em !important;
  max-width: 10em !important;
  height: 2em;
  margin-top: -7px;
}

.table_0 > * > *:first-child{
  flex: 1 1 6%;
}

.tag:not(body).is-medium{
  font-size:0.85rem;
}
