#mainContainer {
  padding-top: 70px;

  > header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10%;
    background: #fff;
    box-shadow: 1px 2px 3px #cfcfcf;
    opacity: 0.14;
    &:hover{
      opacity: 1;
    }
  }
}


a.no {
  text-decoration: none !important;
  text-align: center;
}

.notification {
  position: relative;
}

.notification div.pre {
  color: #000;
  /*  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;*/
  font-size: 16px;
  overflow: visible;
  text-overflow: ellipsis;

  &.scroll {
    max-height: 48em;
    overflow-y: scroll;
  }
}

.tags .input, .buttons .input {
  width: 10em !important;
  max-width: 10em !important;
  height: 2em;
  margin-top: -7px;
}

.table_0 > * > *:first-child {
  flex: 1 1 2em;
}

.table_0 > * > * {
  padding: 7px 5px;
}

.tag:not(body).is-medium {
  font-size: 0.85rem;
}
